@model IEnumerable<Project>

<div class="side-menu">
    @foreach (var project in Model)
    {
        <a class="room-button" asp-controller="Home" asp-action="Project" asp-route-id="@project.Id">
            @project.Name
        </a>
    }

    <a class="project-button" id="create-project-btn" href="#">
        <strong>+</strong>
    </a>
</div>
