@model IEnumerable<Project>
@{
    var chosenUserName = Context.Session.GetString("ChosenUserName");
}
@if (User.Identity.IsAuthenticated)
{
    <div class="bg-dark text-white d-flex flex-grow-1">
        <div class="container mt-5" style="width: 1000px;">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1>Projects</h1>
                <div>
                    <input type="text" style="margin-right: 35px;" />
                    <button class="btn btn-success mr-2 project-button" id="create-project-btn" style="margin-right: 35px;">Create +</button>
                    <button class="btn btn-primary" id="join-project-btn">Join</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-dark table-striped table-borderless">
                    <thead>
                        <tr>
                            <th class="" scope="col" style="padding-left: 35px; width: 250px">Name</th>
                            <th scope="col">Owner</th>
                            <th scope="col" style="padding-left: 35px;">Created</th>
                            <th scope="col" style="width: 150px; padding-left: 35px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repeat this row for each project -->
                        <vc:project></vc:project>
                        <!-- End repeat -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
<div class="modal" id="create-project-modal">
    <form asp-controller="Home" asp-action="CreateProject" class="modal-body">
        <button type="button" class="close" onclick="closeCreateModal()">X</button>
        <header>Create Project</header>
        <div>
            <input name="name" placeholder="Name">
        </div>
        <div>
            <input name="password" placeholder="Password">
        </div>
        <input type="hidden" name="userName" value="@chosenUserName">
        <footer>
            <button>Create</button>
        </footer>
    </form>
</div>

<div class="modal" id="join-project-modal">
    <form asp-controller="Home" asp-action="JoinProject" class="modal-body">
        <button type="button" class="close" onclick="closeJoinModal()">X</button>
        <header>Join Project</header>
        <div>
            <input name="name" placeholder="Name">
        </div>
        <div>
            <input name="password" placeholder="Password">
        </div>
        <footer>
            <button>Join</button>
        </footer>
    </form>
</div>


<script>
    var createProjectBtn = document.getElementById('create-project-btn')
    var createProjectModal = document.getElementById('create-project-modal')

    createProjectBtn.addEventListener('click', function () {
        createProjectModal.classList.add('active')
    })

    function closeCreateModal() {
        createProjectModal.classList.remove('active')
    }

    var joinProjectBtn = document.getElementById('join-project-btn')
    var joinProjectModal = document.getElementById('join-project-modal')

    joinProjectBtn.addEventListener('click', function () {
        joinProjectModal.classList.add('active')
    })

    function closeJoinModal() {
        joinProjectModal.classList.remove('active')
    }
</script>