@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using CodeConnect.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    //var userName = UserManager.GetUserName(User);
    string chosenUserName = "";
    @if (SignInManager.IsSignedIn(User))
    {
        var userName = UserManager.GetUserName(User);
        if (userName != null)
        {
            var user = await UserManager.FindByNameAsync(userName);
            if (user != null)
            {
                chosenUserName = user.ChosenUserName;
            }
        }
    }
}

<div id="main-container" class="d-flex flex-column align-items-center bg-dark h-100">
    <div>
        <input id="project-id-input" type="text" placeholder="Project ID">
    </div>
    <div class="mt-3">
        <button id="joinButton" class="btn btn-primary me-2">Join Project</button>
        <button id="createButton" class="btn btn-primary">Create Project</button>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>
    document.getElementById("joinButton").addEventListener("click", function (event) {
        var room = document.getElementById("project-id-input").value;
        var message = "";
        var userName = '@Html.Raw(Json.Serialize(chosenUserName))'.slice(1, -1); // Inject username into JavaScript variable
        connection.invoke("SendMessageToGroup", userName, message, room, true).catch(function (err) {
            return console.error(err.toString());
        });
        window.location.href = '@Url.Action("CodeSpace", "Home")' + '?room=' + room;
        event.preventDefault();
    });
</script>

