@model IEnumerable<Project>

<div class="chat-body">
    
    @foreach (var project in Model)
    {
        <p>Hello</p>
        <a class="room-button" asp-controller="Home" asp-action="JoinRoom" asp-route-id="@project.Id">
            @project.Name
        </a>
    }
</div>